useDynLib(GPspline, .registration = TRUE)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("methods", "new")
importFrom("stats", "formula")
importFrom("stats", "model.matrix")
#S3method("formula", "formula")
#importFrom("Formula", "model.matrix")
#S3method(predict, myclass)
exportPattern(GPspline)
exportPattern(NewtonStep)
S3method("predict", "GPspline")
S3method("plot", "GPspline")

