useDynLib(GPspline, .registration = TRUE)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("methods", "new")
exportPattern(GPspline)
S3method("predict", "GPspline")
S3method("plot", "GPspline")
